@import "../../../variables-mixins.scss";

.header {
  @include flexCenter(row, space-between, center);
  width: 100%;
  height: $header-height;
  padding: $mg-small $mg-normal;
  margin-block-end: $mg-small;
}

.logo-wrapper {
  @include flexCenter(row, flex-start, center);
  img {
    width: 48px;
    height: 48px;
    margin-inline-end: $mg-small;
  }
}

.search-bar-wrapper {
  flex-basis: 50%;
  height: 90%;
  position: relative;
  input {
    width: 100%;
    height: 100%;
    padding: $mg-normal;
    border-radius: $border-radius-round;
  }
  img {
    position: absolute;
    margin-block: $mg-normal;
    right: $mg-normal;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
  }
}

.user-icon-wrapper {
  position: relative;
  button {
    @include flexCenter(row, flex-end, center);
    gap: $mg-small;
    .user-icon {
      width: 48px;
      height: 48px;
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  transition: all 150ms ease-in-out;
}

.user-actions,
.user-info-wrapper {
  position: absolute;
  background-color: $color-secondary;
  border-radius: $br-normal 0 $br-normal $br-normal;
  padding: $mg-normal $mg-normal;
  top: calc(100% + 8px);
  right: 0;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  li {
    width: 100%;
    &:last-child {
      margin-block-end: 0;
    }
    a,
    button {
      border-radius: $btn-border-radius;
      font-weight: bold;
      color: $color-primary;
      width: 100%;
      display: block;
      text-align: center;
      padding-block: 12px;
      transition: all 150ms ease-in-out;
    }
    a:hover {
      color: $color-accent-hover;
      background-color: $bg-color;
    }
  }
}

.user-actions {
  @include flexCenter(column, flex-start, center);
  min-width: 150px;
}

.close-dialog {
  opacity: 0;
  z-index: -1;
}

.user-info-wrapper {
  padding-inline: $mg-normal;
  min-width: 300px;
  header,
  .user-infos,
  figcaption {
    width: 100%;
  }
  header {
    @include flexCenter(row, space-between, center);
    margin-block-end: $mg-normal;
  }
}

.user-infos {
  @include flexCenter(column, center, center);
  gap: $mg-small;
  img {
    width: 84px;
    height: 84px;
  }
}

figcaption .user-personal-infos {
  @include flexCenter(row, space-between, center);
  gap: $mg-small;
  margin-block-end: $mg-normal;
  h3 {
    font-size: 1.2rem;
    margin-block-end: 12px;
  }
  .status {
    font-size: 0.8rem;
    color: $status-active-color;
    @include flexCenter(row, flex-start, center);
    gap: 4px;
  }
  button {
    font-size: 0.8rem;
    flex-basis: 25%;
    font-weight: 600;
    color: $color-accent;
  }
}

figcaption .email-info-wrapper {
  h4 {
    @include flexCenter(row, flex-start, center);
    gap: 4px;
    font-size: 0.9rem;
    margin-block-end: $mg-small;
  }
  p {
    font-size: 0.8rem;
    color: $mail-color;
    margin-inline-start: $mg-small;
  }
}

.edit-user-wrapper {
  .img-wrapper {
    @include flexCenter(column, center, center);
    margin-block-end: $mg-normal;
    img {
      width: 84px;
      height: 84px;
    }
  }
  form {
    @include flexCenter(column, center, flex-start);
    gap: 12px;
  }
  .btn-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    margin-block-start: $mg-small;
  }
  button {
    font-size: 0.8rem;
    flex-basis: 25%;
    font-weight: 600;
    background-color: $color-accent;
    padding: 8px $mg-small;
    border-radius: $btn-border-radius;
    color: $color-secondary;
  }
  label {
    font-weight: bold;
    font-size: 0.95rem;
  }
  input {
    width: 100%;
    padding: 6px $mg-small;
    border: 2px solid $bg-color;
    border-radius: $border-radius-round;
    &:focus {
      border: 1px solid $color-accent;
    }
  }
}

@media (max-width: 768px) {
  .search-bar-wrapper {
    display: none;
  }
}

@media (max-width: 572px) {
  .user-icon-wrapper {
    h3 {
      display: none;
    }
  }
}
