<header>
  <div class="logo-wrapper">
    <img src="/assets/img/da-logo.svg" alt="logo" />
    <h2>DABubble</h2>
  </div>
  <div class="search-bar-wrapper">
    <input type="text" placeholder="Search" />
    <img src="/assets/img/icons/search.svg" alt="" />
  </div>
  <div class="user-icon-wrapper">
    <h3>Frederik Beck</h3>
    <img
      src="/assets/img/icons/user-icon.svg"
      alt="user-icon"
      class="user-icon"
    />
    <button>
      <img src="/assets/img/icons/arrow-down.svg" alt="arrow-down" />
    </button>
  </div>
</header>
