@import "../../../variables.scss";
$logo-width: 150px;

.animate-end {
  position: relative;
}

.sign-in__image {
  background-color: $color-accent;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  animation: logoAnimation 1s ease-in-out 1s forwards;
  img {
    width: $logo-width;
    height: 120px;
  }
  .logo-small {
    width: 84px;
    height: 84px;
  }
  h3 {
    color: $color-secondary;
    font-size: clamp(1.5rem, 5vw, 3rem);
    z-index: -1;
    opacity: 0;
  }
  .logo-heading-small {
    font-size: clamp(1.5rem, 3vw, 2rem);
  }
}

@keyframes logoAnimation {
  0% {
    left: 50%;
    top: 50%;
    min-height: 100dvh;
    min-height: 100vh;
    width: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
