@import "../../../variables.scss";
$logo-width: 150px;

.animate-end {
  position: relative;
}

.sign-in__image {
  background-color: $color-accent;
  isolation: isolate;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  min-height: 100dvh;
  min-height: 100vh;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out, background-color 0s ease-in-out;
  img {
    width: $logo-width;
    height: 120px;
    transition: all 0.5s ease-in-out;
  }
  .logo-small {
    width: 84px;
    height: 84px;
  }
  h3 {
    color: $color-secondary;
    font-size: clamp(1.5rem, 5vw, 3rem);
  }
  .logo-heading-small {
    color: $color-primary;
    font-size: clamp(1.5rem, 3vw, 2rem);
  }
}
.animation-end {
  background-color: transparent;
  transform: initial;
  left: 24px;
  top: 24px;
  min-height: auto;
  width: auto;
}
.animation-end {
  background-color: transparent;
  transform: initial;
  left: 24px;
  top: 24px;
  min-height: auto;
  width: auto;
}

.sign-in {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $bg-color;
  &__inner-wrapper {
    width: 75%;
    min-height: 550px;
    max-width: 500px;
    height: 60vh;
    background-color: $color-secondary;
    border-radius: $border-radius;
  }
  &__info {
    text-align: center;
  }
}

@keyframes logoAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
