<section class="sign-in-wrapper">
  <section
    class="sign-in__image"
    [ngClass]="{
    'animation-end': !animationState,
  }"
  >
    <img
      src="/assets/img/da-logo.svg"
      alt="Sign In Image"
      class="logo"
      [ngClass]="{ 'logo-small': !animationState }"
    />
    <h3 [ngClass]="{ 'logo-heading-small': !animationState }">DABubble</h3>
  </section>
  <section class="sign-in">
    <div class="sign-in__inner-wrapper">
      <div class="sign-in__info">
        <h1>Anmeldung</h1>
        <p>
          Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
          verwendest.
        </p>
      </div>
      <form
        class="sign-in-form"
        [formGroup]="registerForm"
        (ngSubmit)="signIn()"
      >
        <div class="input-wrapper">
          <img src="/assets/img/icons/mail.svg" alt="Email Logo Bild" />
          <input
            type="email"
            id="email"
            placeholder="beispielname@email.com"
            formControlName="email"
            autocomplete="name"
            [class.invalid]="
              registerForm.get('email')?.invalid &&
              (registerForm.get('email')?.touched ||
                registerForm.get('email')?.dirty ||
                isSubmitted)
            "
          />
          <p
            *ngIf="
              registerForm.get('email')?.hasError('required') &&
              (registerForm.get('email')?.touched ||
                registerForm.get('email')?.dirty ||
                isSubmitted)
            "
            class="error"
          >
            *Diese E-Mail ist leider ungültig.
          </p>
        </div>
        <div class="input-wrapper">
          <img src="/assets/img/icons/lock.svg" alt="Passwort Logo Bild" />
          <input
            type="password"
            id="password"
            placeholder="Passwort"
            formControlName="password"
            [class.invalid]="
              registerForm.get('email')?.invalid &&
              (registerForm.get('email')?.touched ||
                registerForm.get('email')?.dirty ||
                isSubmitted)
            "
          />
          <p
            *ngIf="
              registerForm.get('password')?.hasError('required') &&
              (registerForm.get('password')?.touched ||
                registerForm.get('password')?.dirty ||
                isSubmitted)
            "
            class="error"
          >
            Falsches Passwort. Bitte noch einmal versuchen.
          </p>
        </div>
        <p *ngIf="errorMsg" class="invalid error">
          Falsche E-Mail oder falsches Passwort. Bitte noch einmal versuchen.
        </p>
        <div class="sign-in__forgot-password-wrapper">
          <a href="#">Passwort vergessen?</a>
        </div>
        <p class="sign-in__or">ODER</p>
        <div class="google-sign-up">
          <a href="">
            <img src="/assets/img/google-logo.svg" alt="Google Logo" />
            Anmelden mit Google
          </a>
        </div>
        <div class="sign-in__button-wrapper">
          <button type="submit" class="login-btn">Anmelden</button>
          <button class="guest-login" type="button" (click)="guestLogin()">
            Gäste-Login
          </button>
        </div>
      </form>
    </div>
  </section>
  <aside>
    <p>Neu bei DABubble? <br /></p>
    <a href="">Konto erstellen</a>
  </aside>
</section>
