<section
  class="sign-in-wrapper"
  [ngClass]="{ 'animation-end': animationState }"
>
  <section
    class="sign-in__image"
    [ngClass]="{
      'start-animation': animationState,
    }"
  >
    <img
      src="/assets/img/da-logo.svg"
      alt="Sign In Image"
      [ngClass]="{ 'logo-small': !animationState }"
    />
    <h3 [ngClass]="{ 'logo-heading-small': !animationState }">DABubble</h3>
  </section>
  <section class="sign-in">
    <div class="sign-in__info">
      <h1>Anmeldung</h1>
      <p>
        Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
        verwendest.
      </p>
    </div>
    <form action="">
      <input type="email" id="email" />
      <input type="password" id="password" />
      <div class="sign-in__forgot-password-wrapper">
        <a href="#">Passwort vergessen?</a>
      </div>
      <p>Oder</p>
      <div>
        <a href="">
          <img src="/assets/img/google-logo.svg" alt="Google Logo" />
          Anmelden mit Google
        </a>
      </div>
      <div class="sign-in__input-wrapper">
        <button type="submit">Anmelden</button>
        <a href=""> Gäste-Login </a>
      </div>
    </form>
  </section>
</section>
