<section class="sign-in-wrapper">
  <section
    class="sign-in__image"
    [ngClass]="{
    'animation-end': !animationState,
  }"
  >
    <img
      src="/assets/img/da-logo.svg"
      alt="Sign In Image"
      [ngClass]="{ 'logo-small': !animationState }"
    />
    <h3 [ngClass]="{ 'logo-heading-small': !animationState }">DABubble</h3>
  </section>
  <section class="sign-in">
    <div class="sign-in__inner-wrapper">
      <div class="sign-in__info">
        <h1>Anmeldung</h1>
        <p>
          Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
          verwendest.
        </p>
      </div>
      <form action="" class="sign-in-form">
        <div class="input-wrapper">
          <img src="/assets/img/icons/mail.svg" alt="Email Logo Bild" />
          <input type="email" id="email" placeholder="beispielname@email.com" />
        </div>
        <div class="input-wrapper">
          <img src="/assets/img/icons/lock.svg" alt="Passwort Logo Bild" />
          <input type="password" id="password" placeholder="Passwort" />
        </div>
        <div class="sign-in__forgot-password-wrapper">
          <a href="#">Passwort vergessen?</a>
        </div>
        <p class="sign-in__or">ODER</p>
        <div class="google-sign-up">
          <a href="">
            <img src="/assets/img/google-logo.svg" alt="Google Logo" />
            Anmelden mit Google
          </a>
        </div>
        <div class="sign-in__button-wrapper">
          <button type="submit" class="login-btn">Anmelden</button>
          <a href="" class="guest-login"> Gäste-Login </a>
        </div>
      </form>
    </div>
  </section>
</section>
