@import "../../../variables-mixins.scss";

aside {
  background-color: $color-secondary;
  width: 264px;
  margin-inline: $mg-normal;
  padding: $mg-normal;
  border-radius: $br-big;
  min-height: calc(100vh - 1.5 * $header-height);
}

header {
  @include flexCenter(row, flex-start, center);
  margin-bottom: $mg-normal;
  .workspace-logo {
    width: 48px;
    height: 48px;
    margin-right: $mg-small;
    border-radius: 50%;
  }
  button {
    margin-inline-start: auto;
    background-color: transparent;
    img {
      width: 24px;
      height: 24px;
    }
  }
}
