@import "../../../variables-mixins.scss";

aside {
  background-color: $color-secondary;
  width: 264px;
  margin-inline: $mg-normal;
  padding: $mg-normal;
  border-radius: $br-big;
  min-height: calc(100vh - 1.5 * $header-height);
  position: relative;
}

header {
  @include flexCenter(row, flex-start, center);
  margin-bottom: $mg-normal;
  .workspace-logo {
    width: 48px;
    height: 48px;
    margin-right: $mg-small;
    border-radius: 50%;
  }
  button {
    margin-inline-start: auto;
    background-color: transparent;
    img {
      width: 24px;
      height: 24px;
    }
  }
}

.channels-btn {
  @include flexCenter(row, flex-start, center);
}

.workspace-close-btn {
  position: absolute;
  top: 50%;
  left: -$mg-normal;
  background-color: $color-secondary;
  border-radius: 0 $br-big $br-big 0;
  box-shadow: 4px 4px 7px 0px #00000033;
  padding: $mg-normal 10px;
  p {
    text-align: center;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
  }
}
