<aside id="sidebar">
  <header>
    <img
      src="/assets/img/icons/workspace-logo.png"
      alt="Workspace Logo"
      class="workspace-logo"
    />
    <h3>Let's Code</h3>
    <button aria-label="neue Nachricht erstellen">
      <img src="/assets/img/icons/new-msg.svg" alt="" />
    </button>
  </header>
  <div class="sidebar-body">
    <button class="channels-btn">
      <img src="/assets/img/icons/arrow_drop_down.svg" alt="" />
      Channels
    </button>
    <ul>
      <li></li>
    </ul>
  </div>
  <button class="workspace-close-btn" (click)="closeSidebar()">
    <p>Workspace-Menü <span>schließen</span></p>
  </button>
</aside>
