@import "../../../variables-mixins.scss";

.main-chat-wrapper {
  background-color: $color-secondary;
  min-width: calc(100vw - 264px - 3 * $mg-normal);
  width: 100%;
  min-height: calc(100vh - 1.5 * $header-height);
  border-radius: $br-big;
}

header {
  @include flexCenter(row, space-between, center);
  width: 100%;
  padding: $mg-small $mg-large;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: $br-big $br-big 0 0;
}

.group-info-btn {
  @include flexCenter(row, center, center);
  gap: $mg-small;
  img {
    width: 14px;
    height: 14px;
  }
}

.users-list-wrapper {
  display: flex;
  gap: $mg-small;
  .users-list-btn {
    @include flexCenter(row, center, center);
    background-color: $bg-color;
    padding: 2px 4px;
    border-radius: $border-radius-round;
    padding-inline-end: -12px;
  }
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid $color-secondary;
  }
  img:nth-child(2) {
    transform: translateX(-8px);
  }
  img:nth-child(3) {
    transform: translateX(-14px);
  }
}

@media (max-width: 768px) {
  .main-chat-wrapper {
    display: none;
  }
}
