@import "../../../variables-mixins.scss";

$padding: $mg-small $mg-normal;

.main-chat-wrapper {
  background-color: $color-secondary;
  min-width: calc(100vw - 264px - 3 * $mg-normal);
  width: 100%;
  min-height: calc(100vh - 1.5 * $header-height);
  border-radius: $br-big;
  position: relative;
}

header {
  @include flexCenter(row, space-between, center);
  width: 100%;
  padding: $mg-small $mg-large;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: $br-big $br-big 0 0;
}

.group-info-btn {
  @include flexCenter(row, center, center);
  gap: $mg-small;
  padding: 8px $mg-small;
  border-radius: $br-normal;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $bg-color;
    color: $color-accent;
    svg {
      fill: $color-accent;
    }
  }
}

.messages-wrapper {
  padding: $padding;
}

.users-list-wrapper {
  display: flex;
  gap: $mg-small;
}

.users-list-btn {
  @include flexCenter(row, center, center);
  padding: 2px 6px;
  border-radius: $border-radius-round;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $bg-color;
    color: $color-accent;
    svg {
      fill: $color-accent;
    }
  }
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid $color-secondary;
  }
  img:nth-child(2) {
    transform: translateX(-8px);
  }
  img:nth-child(3) {
    transform: translateX(-14px);
    margin-inline-end: -8px;
  }
}

.show-date {
  @include flexCenter(row, center, center);
  position: relative;
  isolation: isolate;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $border-color;
    z-index: -1;
  }
  p {
    text-align: center;
    margin: $mg-small 0;
    border: 1px solid $border-color;
    border-radius: $br-normal;
    padding: 6px 8px;
    max-width: fit-content;
    background-color: $color-secondary;
    font-size: 0.85rem;
  }
}

.messages-list {
  li {
    @include flexCenter(row, flex-start, center);
    gap: $mg-small;
    .user-info {
      @include flexCenter(row, flex-start, center);
      gap: $mg-small;
      p {
        font-size: 0.75rem;
        color: $color-gray;
      }
    }
  }
  .message {
    background-color: $bg-color;
    border-radius: 0 $br-normal $br-normal $br-normal;
    // padding: $padding;
    padding: 6px 10px;
    // max-width: 60%;
    p {
      font-size: 0.85rem;
    }
  }

  .thread-messages-wrapper {
    button {
      color: $color-accent;
    }
  }
  img {
    width: 56px;
    height: 56px;
  }
}

.add-user-btn {
  @include flexCenter(row, center, center);
  background-color: $bg-color;
  border-radius: 50%;
  padding: 6px 8px;
  svg {
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    svg {
      transform: scale(1.1);
      fill: $color-accent;
    }
  }
}

.input-wrapper {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  border: 1px solid $border-color;
  border-radius: $br-normal;
  padding: $padding;
  input {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main-chat-wrapper {
    display: none;
  }
}
