<section class="main-chat-wrapper">
  <header>
    <h4>#EntwicklerTeam</h4>
    <p class="users-list-wrapper">
      <button aria-label="All users in this chat" class="users-list-btn">
        <img
          src="/assets/img/icons/user-icon.svg"
          alt="user-icon"
          class="user-icon"
        />
        <img
          src="/assets/img/icons/user-icon.svg"
          alt="user-icon"
          class="user-icon"
        />
        <img
          src="/assets/img/icons/user-icon.svg"
          alt="user-icon"
          class="user-icon"
        />
        3
      </button>
      <button aria-label="add a new Member">
        <img src="/assets/img/icons/person_add.svg" alt="" />
      </button>
    </p>
  </header>
</section>
