$color-primary: #000000;
$color-secondary: #ffffff;
$color-accent: #444df2;
$color-accent-hover: #797ef3;
$color-accent-hover-2: #535af1;
$bg-color: #eceefe;
$status-active-color: #92c83e;
$error-msg-color: #ed1e79;

$mail-color: #1381ff;
$border-color: #adb0d9;

$br-small: 8px;
$br-normal: 16px;
$br-big: 24px;
$border-radius-round: 100vh;
$btn-border-radius: 16px;
$input-border-radius: 24px;

$header-height: 72px;

$mg-large: 48px;
$mg-normal: 24px;
$mg-small: 16px;

@mixin flexCenter($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
